<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </li>
  {{/events}}
</ul>

//code change 
// commiting branch
<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </li>
  {{/events}}
</ul>
